/* .../assets/styles.css */
.header {
    background: #404040;  /* 000000 */
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    a {
        /* all 'a' attributes in the header */
        color: #ffffff;
        font-size: 25px;
    }
}
.body {
    background: #a3dcbb;  /* 00ff00 */
    text-align: center;
    h1 {
        /* all 'h1' attributes in the body */
        color: #404040;  /* 000000 */
        font-size: 35px;
    }
}
.footer {
    background: #cde4ff;
    h2 {
        /* all 'h2' attributes in the footer */
        color: #FFFFFF;
        font-size: 10px;
    }
}